#root {
  max-width: 120rem;
  margin: 0 auto;
  background-color: #faf9f9;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem;
  display: flex;
  justify-content: center;
 }
 
@media only screen and (max-width: 75em) {
    #root {
      margin: 0;
      max-width: 100%;
      width: 100%;
    }
}