.tweets-page{
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    min-height: 50rem;
    padding: 1rem;
    align-items: center;
}

.tweets-page--collection {
    display: flex;
    min-height: 45rem;
    padding: 1rem;
    background-color: whitesmoke;
}

.tweets-page--pagination {
    display: flex;
    min-height: 5rem;
    background-color: #f0f0f0;
    align-items: center;
    justify-content: center;
    width: 100%;
}